---
import { Image } from "astro:assets";

interface props {
  name: string;
  rol: string;
  src: string;
  age: number;
}

const { name, age, rol, src } = Astro.props;
---

<article
  class="flex items-center bg-gray-50 md:flex-col flex-row gap-2 md:w-[220px] md:h-[230px] mt-5 rounded py-6 px-3 backdrop-blur-3xl w-full shadow-lg"
>
  <div>
    <Image
      src={src}
      alt={name}
      inferSize={true}
      class="rounded-full w-[100px] h-[100px]"
    />
  </div>

  <div class="text-center">
    <h3 class="font-bold">{name}</h3>
    <p class="text-sm text-gray-500">{age} Años</p>
    <p class="text-sm text-gray-500">{rol}</p>
  </div>
</article>
