---
const options = [
  {
    name: "Stadisticas",
    control: "stats",
  },
  {
    name: "Servicios",
    control: "about",
  },
  {
    name: "Preguntas",
    control: "faq",
  },
];

const beneficios = [
  {
    title: "85%+",
    description: "Rapidez de atencion a los estudiantes.",
  },
  {
    title: "100%+",
    description: "Eficiencia para resolver problemas de salud mental.",
  },
  {
    title: "24/7",
    description: "Soporte a la plataforme las 24 horas del dia.",
  },
  {
    title: "50%",
    description: "Disminuye la mitad de los caso de salud mental",
  },
  {
    title: "100%",
    description: "Seguridad en la informacion de los estudiantes.",
  },
  {
    title: "99%",
    description: "Satisfaccion de los estudiantes.",
  },
];

const servicios = [
  {
    title: "Obtendras estadisticas sobre los casos",
  },
  {
    title: "Sabras cuanto tiempo duran las terapias.",
  },
  {
    title: "LLevaras control de lo recomendado por el terapeuta",
  },
  {
    title: "Veras el avance de las terapias",
  },
];

const preguntas = [
  {
    pregunta: "Que es Vive-U?",
    respuesta:
      "Vive-U es una plataforma de salud mental que te permite llevar un control de tus terapias, ver el avance de tus terapias y llevar un control de lo recomendado por tu terapeuta.",
  },
  {
    pregunta: "Cuanto cuesta Vive U?",
    respuesta:
      "Vive-U es una plataforma gratuita para los estudiantes y psicologos, solo necesitas registrarte y empezar a usarla. Tambien cuenta con planes premium para las universidades y colegios. Que sacan provecho de las estadisticas y el control de los estudiantes y psicologos.",
  },
  {
    pregunta: "Que puedo hacer en Vive-U?",
    respuesta:
      "en Vive-U Puedes administar la lista de Psicologos, ver el historial de los estudiantes, ver el avance de las terapias y llevar un control de estos mismos, pudiendo eliminarlos, registarlos y modificarlos.",
  },
];
---

<div
  class="w-full relative bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Selecciona</label>
    <select
      id="tabs"
      class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      {options.map((option) => <option>{option.name}</option>)}
    </select>
  </div>
  <ul
    class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400 rtl:divide-x-reverse"
    id="fullWidthTab"
    data-tabs-toggle="#fullWidthTabContent"
    role="tablist"
  >
    {
      options.map((option) => (
        <li class="w-full">
          <button
            id={`${option.control}-tab`}
            data-tabs-target={`#${option.control}`}
            type="button"
            role="tab"
            aria-controls={option.control}
            aria-selected="true"
            class="inline-block w-full p-4 rounded-ss-lg bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
          >
            {option.name}
          </button>
        </li>
      ))
    }
  </ul>
  <div
    id="fullWidthTabContent"
    class="border-t border-gray-200 dark:border-gray-600"
  >
    <div
      class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
      id="stats"
      role="tabpanel"
      aria-labelledby="stats-tab"
    >
      <dl
        class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8"
      >
        {
          beneficios.map((beneficio) => (
            <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl font-extrabold">{beneficio.title}</dt>
              <dd class="text-gray-500 dark:text-gray-400">
                {beneficio.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
    <div
      class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
      id="about"
      role="tabpanel"
      aria-labelledby="about-tab"
    >
      <h2
        class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        Que Servicios te ofrecemos?
      </h2>
      <!-- List -->
      <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
        {
          servicios.map((servicio) => (
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
              <svg
                class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
              <span class="leading-tight">{servicio.title}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="hidden p-4 bg-white rounded-lg dark:bg-gray-800"
      id="faq"
      role="tabpanel"
      aria-labelledby="faq-tab"
    >
      <div
        id="accordion-flush"
        data-accordion="collapse"
        data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400"
      >
        {
          preguntas.map((pregunta, i) => (
            <>
              <h2 id={`accordion-flush-heading-${i + 1}`}>
                <button
                  type="button"
                  class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                  data-accordion-target={`#accordion-flush-body-${i + 1}`}
                  aria-expanded="true"
                  aria-controls={`accordion-flush-body-${i + 1}`}
                >
                  <span>{pregunta.pregunta}</span>
                  <svg
                    data-accordion-icon
                    class="w-3 h-3 rotate-180 shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5 5 1 1 5"
                    />
                  </svg>
                </button>
              </h2>
              <div
                id={`accordion-flush-body-${i + 1}`}
                class="hidden"
                aria-labelledby={`accordion-flush-heading-${i + 1}`}
              >
                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                  <p class="mb-2 text-gray-500 dark:text-gray-400">
                    {pregunta.respuesta}
                  </p>
                </div>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
</div>
